body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  #fetchCurrenciesButton {
    margin-bottom: 20px;
  }
  
  #currenciesList {
    list-style: none;
    padding: 0;
  }
  
  #currenciesList li {
    margin-bottom: 5px;
  }